{
  "presets": [
    ["env", {
      "targets": {
        "electron": "1.8"
      },
      "useBuiltIns": true
    }], "react", "flow"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime"
  ]
}
